---
layout: page
title: "网站地图"
permalink: /sitemap/
---

# 网站地图

## 主要页面
- [首页](/)
- [我的工作](/pages/works)
- [我的论文](/pages/publication)
- [个人简历](/pages/CV)
- [博客](/pages/blog)
- [搜索](/search)

## 博客文章

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}
{% for year in posts_by_year %}
### {{ year.name }}年
{% for post in year.items %}
- [{{ post.title }}]({{ post.url }}) - {{ post.date | date: "%Y-%m-%d" }}
{% endfor %}
{% endfor %}

## 博客集合
{% for post in site.blogs %}
- [{{ post.title }}]({{ post.url }}) - {{ post.date | date: "%Y-%m-%d" }}
{% endfor %}

## 外部链接
- [GitHub](https://github.com/ZhengxuYu)
- [DBLP](https://dblp.org/pid/00/1-0000-0002-6059-0300)
- [ORCID](https://orcid.org/0000-0002-6059-0300)

---

*最后更新：{{ site.time | date: "%Y-%m-%d" }}* 