---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

<ul class="posts">
    <li>
        <h1 id="AboutMe">Zhengxu Yu (余正旭)</h1>
    </li>
    <div class="post">
        <p>I'm a third-year Ph.D student in the State Key Lab of CAD & CG at Zhejiang University in
            China. My advisors are Prof. Deng Cai and Prof. Xiaofei He. Now I'm a intern at DAMO Academy, Alibaba China.
             <br>My research interests fall in the general areas and applications of Machine Learning and Computer Vision, especially Causal Inference, Graph Neural Networks and Reinforcement Learning to work towards the Representation Learning of Temporal-Spatial data. Please checkout my <a href="https://dblp.org/pid/246/3155">DBLP page</a>.<br>
            <U><I>I'm on the job market this year, please feel free to contact me if you are interested in my background!</I></U>
        </p>
    </div>
</ul>


{%- if site.posts.size > 0 -%}
<ul class="posts">
    <li>
        <h1 id="posts-label">News</h1>
    </li>

    {%- for post in site.posts -%}
    <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
            <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
            <ul class="post-categories">
                {%- for tag in post.categories -%}
                <li>{{ tag }}</li>
                {%- endfor -%}
            </ul>
            <div class="post-date">
                <i class="icon-calendar"></i>
                {{ post.date | date: date_format }}
            </div>
        </div>
        <div class="post">
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </div>
    </li>
    {%- endfor -%}
</ul>

<!-- <p class="feed-subscribe"><svg class="svg-icon orange">
      <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
  </svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
